<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/landing">Insurance Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/insurance" routerLinkActive="active">Insurance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/claims" routerLinkActive="active">Claims</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hospitals" routerLinkActive="active">Hospitals</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
